<html lang="en">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <!-- Web Socket -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.1/sockjs.js"></script>

    <!-- App -->
    <script src="app/scripts/app.js" ></script>
</head>

<body ng-app="stompapp" ng-controller="MyController">
<h1>STOMP Testing</h1>
<div>
    <input type="text" ng-model="stompmsg" /></br>
    <button ng-click="onStomp()">Stomp</button>
</div>
</br>

</body>

</html>